<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <meta charset="UTF-8">
</head>

<body style="font-family: Arial; margin:20px; background-color:#fafafa;">

    <h1>🍽️ Menu - Português</h1>

    <hr>

    {% for item in menu %}

        <p>
            <b>{{ item.Categoria }}</b> <br>
            {{ item.Produto }} - <b>{{ item.Preço }} MZN</b>
        </p>

        <hr>

    {% endfor %}

    <h2>🛒 Fazer Pedido</h2>

    <form action="/pedido" method="post">
        <input type="text" name="nome" placeholder="Seu nome" required><br><br>
        <input type="text" name="pedido" placeholder="O que deseja pedir?" required><br><br>

        <button type="submit" style="padding:10px 20px;">Enviar Pedido</button>
    </form>

    <br>

    <a href="/chamar">
        <button style="padding:10px 20px;">🙋‍♂️ Chamar Atendente</button>
    </a>

    <br><br>

    <a href="/">🔙 Voltar</a>

</body>
</html>