{% extends "base.html" %}

{% block content %}

<div class="language-page">

    <div class="welcome-card">

        <h1 class="restaurant-title">
            🍽 Dourados
        </h1>

        <p class="welcome">
            Bem-vindo ao Dourados
        </p>

        <p class="welcome-en">
            Welcome to Dourados
        </p>

        <div class="language-buttons">

            <a class="language-btn" href="/set_language/pt">
                🇵🇹 Português
            </a>

            <a class="language-btn" href="/set_language/en">
                🇬🇧 English
            </a>

        </div>

    </div>

</div>

{% endblock %}
