{% extends "base.html" %}

{% block content %}

<section class="hero">

    <h1>🍽️ Dourados Restaurant</h1>

    <p>Choose your favorite dish</p>

</section>


<div class="menu-grid">

{% for item in menu %}

<div class="card">

    <img src="{{ item.Imagem }}" alt="{{ item.Produto_EN }}">

    <div class="card-body">

        <h3>{{ item.Produto_EN }}</h3>

        <p>{{ item.Descrição_EN }}</p>

        <div class="price">

            {{ item.Preço }} MT

        </div>

        <button
            class="btn-order"
            onclick="addToCart(this,
            '{{ item.ID }}',
            '{{ item.Produto_EN }}',
            '{{ item.Preço }}')">

            Add

        </button>

    </div>

</div>

{% endfor %}

</div>


<div id="cartButton">

🛒 Cart

<span id="cartCount">0</span>

</div>


<script>

let cart=[];

function addToCart(button,id,name,price){

    button.classList.add("added");

    setTimeout(()=>{

        button.classList.remove("added");

    },300);

    cart.push({

        id:id,
        name:name,
        price:price

    });

    document.getElementById("cartCount").innerHTML=cart.length;

}

</script>

{% endblock %}
