{% extends "base.html" %}

{% block content %}

<div class="menu-header">

    <h1>🍽️ Menu</h1>

    <p>Escolha os seus pratos favoritos.</p>

</div>


<div class="cards">

{% for item in menu %}

<div class="food-card" onclick="adicionar('{{ item.ID }}')">

    <div class="food-image">

        {% if item.Imagem %}
            <img src="{{ item.Imagem }}">
        {% else %}
            🍽️
        {% endif %}

    </div>


    <div class="food-info">

        <h3>{{ item.Produto_PT }}</h3>

        <p>{{ item.Descrição_PT }}</p>

    </div>


    <div class="food-price">

        {{ item.Preço }} MT

    </div>

</div>

{% endfor %}

</div>


<div id="cart-button">

🛒

<span id="cart-count">

0

</span>

</div>



<script>

let carrinho=[];

function adicionar(id){

    carrinho.push(id);

    document.getElementById("cart-count").innerHTML=carrinho.length;

    event.currentTarget.classList.add("bounce");

    setTimeout(()=>{
        event.currentTarget.classList.remove("bounce");
    },300);

}

</script>

{% endblock %}
